body {
    background-color: #f50057;
    font-family: Roboto, sans-serif;
    color: #fcf8e3;
    font-size: 20px;
}

input, textarea {
	color: black;
}

.main-header {
	font-family: Ubuntu, sans-serif;
}

.main-div {
	border-bottom: 2px solid #ffffee;
	margin-bottom: 1%;
}

.color-header {
    background-color: #ffee58;
    color: blue;
    width: 100%;
    display: inline;
}

.emphasis {
	border-bottom: 4px double yellow;
	padding-left: 8%;
	margin-bottom: 4%;
}

.active {
  background-color: #0099FF;
}

.nav {
	display: inline-block;
	margin-top: 20px;
	text-align: right;
	padding-right: 0;
}

ul.nav li {
	display: inline;
	list-style-type: none;
}

ul.nav li a {
  color: #ffffee;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
	background-color: #0099FF;
}

ul.nav li a:visited {
	background-color: #0099FF;
}

a {
	color: #ffffee;
	font-size: 14px;
}

@media (min-width: 1200px) {
	.container {
	     width: 970px; 
	}
}

.contact-icon {
	height: 60px;
	margin-top: 7%;
}

.img-row {
	margin-top: 4%;
}